/* Index *

 01. Theme Setup
 02. Utility Classes
 03. Components
 04. Heading Style
 05. Hero Style
 06. Notes Style
 07. Solution Style
 08. CTA Style
 09. Footer Style

*/

:root {
  --theme-primary: #469165;
  --theme-primary-light: #30b868;
  --theme-secondary: #001931;
  --theme-accent: #f95555;
  --bg-1: #fbfbfb;
  --bg-2: #f7f6f2;
  --border-color: #2e4256;
  --paragraph-color: #627382;
  --common-white: #ffffff;
  --font-inter: "Inter", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* 01 Theme Setup */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
}
html {
  font-size: 62.5%;
  font-family: var(--font-inter);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
}

p,
span {
  color: var(--paragraph-color);
}
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    color: var(--theme-primary);
  }
}

h1 {
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 1.17;
}
h2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2;
}

img {
  max-width: 100%;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 02. Utility Classes */
.grid {
  display: grid;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 992px) {
  .grid-cols-4 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .grid-cols-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .grid-cols-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.gap-10 {
  gap: 1rem;
}
.gap-15 {
  gap: 1.5rem;
}
.gap-20 {
  gap: 2rem;
}
.gap-25 {
  gap: 2.5rem;
}
.gap-30 {
  gap: 3rem;
}

.mt-5 {
  margin-top: 0.5rem;
}
.mt-10 {
  margin-top: 1rem;
}
.mt-15 {
  margin-top: 1.5rem;
}
.mt-20 {
  margin-top: 2rem;
}
.mt-25 {
  margin-top: 2.5rem;
}
.mt-30 {
  margin-top: 3rem;
}
.mt-35 {
  margin-top: 3.5rem;
}
.mt-40 {
  margin-top: 4rem;
}
.mt-45 {
  margin-top: 4.5rem;
}
.mt-50 {
  margin-top: 5rem;
}
.mt-55 {
  margin-top: 5.5rem;
}
.mt-60 {
  margin-top: 6rem;
}

.mb-5 {
  margin-bottom: 0.5rem;
}
.mb-10 {
  margin-bottom: 1rem;
}
.mb-15 {
  margin-bottom: 1.5rem;
}
.mb-20 {
  margin-bottom: 2rem;
}
.mb-25 {
  margin-bottom: 2.5rem;
}
.mb-30 {
  margin-bottom: 3rem;
}
.mb-35 {
  margin-bottom: 3.5rem;
}
.mb-40 {
  margin-bottom: 4rem;
}
.mb-45 {
  margin-bottom: 4.5rem;
}
.mb-50 {
  margin-bottom: 5rem;
}

.ml-5 {
  margin-left: 0.5rem;
}
.ml-10 {
  margin-left: 1rem;
}
.ml-15 {
  margin-left: 1.5rem;
}
.ml-20 {
  margin-left: 2rem;
}
.ml-25 {
  margin-left: 2.5rem;
}
.ml-30 {
  margin-left: 3rem;
}
.ml-35 {
  margin-left: 3.5rem;
}
.ml-40 {
  margin-left: 4rem;
}
.ml-45 {
  margin-left: 4.5rem;
}
.ml-50 {
  margin-left: 5rem;
}

.mr-5 {
  margin-right: 0.5rem;
}
.mr-10 {
  margin-right: 1rem;
}
.mr-15 {
  margin-right: 1.5rem;
}
.mr-20 {
  margin-right: 2rem;
}
.mr-25 {
  margin-right: 2.5rem;
}
.mr-30 {
  margin-right: 3rem;
}
.mr-35 {
  margin-right: 3.5rem;
}
.mr-40 {
  margin-right: 4rem;
}
.mr-45 {
  margin-right: 4.5rem;
}
.mr-50 {
  margin-right: 5rem;
}

.mx-5 {
  margin-inline: 0.5rem;
}
.mx-10 {
  margin-inline: 1rem;
}
.mx-15 {
  margin-inline: 1.5rem;
}
.mx-20 {
  margin-inline: 2rem;
}
.mx-25 {
  margin-inline: 2.5rem;
}
.mx-30 {
  margin-inline: 3rem;
}
.mx-35 {
  margin-inline: 3.5rem;
}
.mx-40 {
  margin-inline: 4rem;
}
.mx-45 {
  margin-inline: 4.5rem;
}
.mx-50 {
  margin-inline: 5rem;
}

.my-5 {
  margin-block: 0.5rem;
}
.my-10 {
  margin-block: 1rem;
}
.my-15 {
  margin-block: 1.5rem;
}
.my-20 {
  margin-block: 2rem;
}
.my-25 {
  margin-block: 2.5rem;
}
.my-30 {
  margin-block: 3rem;
}
.my-35 {
  margin-block: 3.5rem;
}
.my-40 {
  margin-block: 4rem;
}
.my-45 {
  margin-block: 4.5rem;
}
.my-50 {
  margin-block: 5rem;
}

.pt-5 {
  padding-top: 0.5rem;
}
.pt-10 {
  padding-top: 1rem;
}
.pt-15 {
  padding-top: 1.5rem;
}
.pt-20 {
  padding-top: 2rem;
}
.pt-25 {
  padding-top: 2.5rem;
}
.pt-30 {
  padding-top: 3rem;
}
.pt-35 {
  padding-top: 3.5rem;
}
.pt-40 {
  padding-top: 4rem;
}
.pt-45 {
  padding-top: 4.5rem;
}
.pt-50 {
  padding-top: 5rem;
}
.pt-55 {
  padding-top: 5.5rem;
}
.pt-60 {
  padding-top: 6rem;
}

.pb-5 {
  padding-bottom: 0.5rem;
}
.pb-10 {
  padding-bottom: 1rem;
}
.pb-15 {
  padding-bottom: 1.5rem;
}
.pb-20 {
  padding-bottom: 2rem;
}
.pb-25 {
  padding-bottom: 2.5rem;
}
.pb-30 {
  padding-bottom: 3rem;
}
.pb-35 {
  padding-bottom: 3.5rem;
}
.pb-40 {
  padding-bottom: 4rem;
}
.pb-45 {
  padding-bottom: 4.5rem;
}
.pb-50 {
  padding-bottom: 5rem;
}
.pb-55 {
  padding-bottom: 5.5rem;
}
.pb-60 {
  padding-bottom: 6rem;
}

.px-5 {
  padding-inline: 0.5rem;
}
.px-10 {
  padding-inline: 1rem;
}
.px-15 {
  padding-inline: 1.5rem;
}
.px-20 {
  padding-inline: 2rem;
}
.px-25 {
  padding-inline: 2.5rem;
}
.px-30 {
  padding-inline: 3rem;
}
.px-35 {
  padding-inline: 3.5rem;
}
.px-40 {
  padding-inline: 4rem;
}
.px-45 {
  padding-inline: 4.5rem;
}
.px-50 {
  padding-inline: 5rem;
}

.py-5 {
  padding-block: 0.5rem;
}
.py-10 {
  padding-block: 1rem;
}
.py-15 {
  padding-block: 1.5rem;
}
.py-20 {
  padding-block: 2rem;
}
.py-25 {
  padding-block: 2.5rem;
}
.py-30 {
  padding-block: 3rem;
}
.py-35 {
  padding-block: 3.5rem;
}
.py-40 {
  padding-block: 4rem;
}
.py-45 {
  padding-block: 4.5rem;
}
.py-50 {
  padding-block: 5rem;
}

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}

.theme-primary {
  background: var(--theme-primary);
}
.theme-primary-light {
  background: var(--theme-primary-light);
}
.theme-secondary {
  background: var(--theme-secondary);
}
.theme-accent {
  background: var(--theme-accent);
}
.bg-1 {
  background: var(--bg-1);
}
.bg-2 {
  background: var(--bg-2);
}
.common-white {
  background: var(--common-white);
}
.text-primary {
  color: var(--theme-primary);
}
.text-primary-light {
  color: var(--theme-primary-light);
}
.text-secondary {
  color: var(--theme-secondary);
}
.text-white {
  color: var(--common-white);
}
.text-center {
  text-align: center;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: uppercase;
}

/* 03. Components */
.container {
  max-width: 139rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}
.section-title {
  text-transform: capitalize;
}
@media (max-width: 1200px) {
  .section-title {
    font-size: 4rem;
  }
}
@media (max-width: 576px) {
  .section-title {
    font-size: 3rem;
  }
}
.section-subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
}

.kv-btn {
  display: inline-block;

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;

  padding: 1.25rem 1.65rem;
  border-radius: 0.4rem;

  & > span {
    color: inherit;
    margin-left: 0.6rem;

    & > svg {
      transform: translateY(0.2rem);
    }
  }
}

.kv-btn__primary {
  color: var(--common-white);
  background: var(--theme-primary);

  &:hover {
    color: var(--common-white);
    background: var(--theme-secondary);
  }
}

.kv-btn__secondary {
  color: var(--common-white);
  border: 0.1rem solid var(--common-white);
  padding: 1.15rem 1.65rem;

  &:hover {
    color: var(--theme-primary);
    background: var(--common-white);
  }
}

.kv-btn__cta {
  color: var(--common-white);
  background: var(--theme-primary);
  padding: 1.7rem 1.85rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);

  &:hover {
    color: var(--common-white);
    background: var(--theme-secondary);
  }
}

/* 04. Heading Style */
.kv-header {
  padding-block: 1.4rem;
}
.kv-header__logo {
  max-width: 14rem;
}
.kv-header__nav nav ul li {
  display: inline-block;
  margin-inline: 1.4rem;

  & > a {
    color: var(--theme-secondary);

    &:hover {
      color: var(--theme-primary);
    }
  }
}

@media (max-width: 768px) {
  .kv-header__right {
    display: none;
  }
  .kv-header__logo {
    max-width: 10rem;
  }
}

/* 05. Hero Style */
.kv-hero {
  padding-top: 11.5rem;
  padding-bottom: 18rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--theme-secondary);
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
.kv-hero__subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  display: inline-block;
  padding: 0.7rem 1.5rem;
  border-radius: 10rem;

  & > span {
    width: 0.6rem;
    height: 0.6rem;
    background: var(--theme-primary);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transform: translateY(-2px);
    margin-right: 7px;

    &::before {
      content: "";
      width: 1.2rem;
      height: 1.2rem;
      background: var(--theme-primary);
      opacity: 0.4;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }

    &::after {
      content: "";
      width: 1.6rem;
      height: 1.6rem;
      background: var(--theme-primary);
      opacity: 0.2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
  }
}
.kv-hero__wrap {
  & p {
    font-size: 1.8rem;
    line-height: 2;
    color: var(--common-white);
    margin-top: 1rem;
  }
}
.kv-header__mobile {
  display: none;

  & > span {
    font-size: 35px;
  }
}
@media (max-width: 992px) {
  .kv-header__mobile {
    display: block;
  }
  .kv-header__nav {
    display: none;
  }
  .kv-header__right {
    display: none;
  }
  .kv-header__logo {
    & img {
      max-width: 10rem;
    }
  }
}
@media (max-width: 768px) {
  .kv-hero__title {
    font-size: 6rem;
  }
  br {
    display: none;
  }
}
@media (max-width: 576px) {
  .kv-hero__title {
    font-size: 4.2rem;
  }

  .kv-btn__group {
    flex-direction: column;
  }
  .kv-hero {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

/* 06. Notes Style */
.kv-notes__item {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kv-notes__icon .kv-icon {
  width: 6rem;
  height: 6rem;
  background: var(--theme-accent);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    color: var(--common-white);
    font-size: 2.6rem;
    margin-bottom: 0;
  }
}
.kv-notes__title {
  color: var(--theme-secondary);
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .kv-notes__title {
    font-size: 2rem;
  }
  .kv-notes__item {
    height: auto;
    padding-inline: 2rem;
  }
}
@media (max-width: 992px) {
  .kv-notes__item .grid-cols-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .kv-notes__item {
    height: auto;
    padding-block: 4rem;
  }
}
/* 07. Solution Style */
.kv-solution {
  padding-block: 12rem;
}
.kv-solution__thumb {
  & > img {
    border-radius: 1.2rem;
  }
}
.kv-solution__list {
  & > li {
    color: var(--theme-secondary);
    font-size: 1.6rem;
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    & > span {
      color: var(--theme-primary-light);
      font-size: inherit;
      margin-right: 2px;

      & > svg {
        transform: translateY(2px);
      }
    }
  }
}
.kv-solution__right {
  margin-left: 6rem;
}

@media (max-width: 768px) {
  .kv-solution__wrap {
    grid-template-columns: auto;
  }
  .kv-solution__thumb {
    & > img {
      width: 100%;
    }
  }
  .kv-solution__right {
    margin-top: 4rem;
    margin-left: 0;
  }
}

/* 08. CTA Style */
.kv-cta__wrap {
  padding-top: 7.9rem;
  padding-bottom: 7.9rem;
  margin-bottom: 12rem;
  border-radius: 1.2rem;
}
.kv-cta__title {
  font-size: 4rem;
}
.early-access {
  & > li {
    display: inline-block;
    color: var(--paragraph-color);

    &:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: "";
        width: 0.6rem;
        height: 0.6rem;
        background: var(--paragraph-color);
        display: inline-block;
        border-radius: 100%;
        margin-left: 1.3rem;
        transform: translateY(-2px);
      }
    }
  }
}
@media (max-width: 576px) {
  .kv-cta__title {
    font-size: 3rem;
  }
}
/* 09. Footer Style */
.kv-footer {
  padding-top: 12rem;
}
.kv-footer__wrap {
  padding-bottom: 7.5rem;
}
.kv-footer__social {
  & > .kv-footer__title {
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
  }
}
.kv-social__list {
  & > li {
    display: inline-block;
    margin-right: 1rem;

    & > a {
      color: var(--theme-secondary);
      font-size: 1.3rem;
      width: 2.4rem;
      height: 2.4rem;
      background: var(--common-white);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;

      &:hover {
        color: var(--common-white);
        background: var(--theme-primary-light);
      }
    }
  }
}
.kv-footer__copy {
  border-top: 0.1rem solid var(--border-color);
  padding-top: 3rem;
  padding-bottom: 3rem;

  & > p {
    color: var(--bg-1);
  }
}
@media (max-width: 1200px) {
}
